.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.HeaderSec {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.NavRightwrapper {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}
