.container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.HeaderSec {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.NavRightwrapper {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.HighlightsList {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.HighlightItem {
  padding: 1rem 1.5rem;
  font-size: var(--font-16);
  background-color: var(--primary-background);
  border: 0.1rem solid var(--primary-blue);
  border-radius: 0.8rem;
  color: var(--sec-black);
}
